<!doctype html>
<html>
  <head>
    <title>Bryan Mytko's WDI Instructor Code Challenge</title>
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <script src="/js/application.js"></script>
  </head>
  <body>
    <div class="main-container container">
      <h1 class="pull-left">Bryan Mytko's WDI Instructor Code Challenge</h1>
      <form method="get" action="#" id="movie-search-form" class="movie-search-form">
        <div class="form-group">
          <label for="movie-search-query">Search Movies: </label>
          <input type="text" class="form-control" id="movie-search-query" name="query" placeholder="" />
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-default btn-primary" value="Search!" />
          <a id="see-favorites" class="btn btn-default">See Favorites?</a>
        </div>
      </form>
      <div id="search-results" class="results">
        <ul id="search-results-list">
        </ul>
      </div>
    </div>
  </body>
</html>
